body {
    background-color: #b3f6d4;
    color: purple;
    height: 10px;
}

ul {
    list-style-type: square;
    padding: 100px 100px 100px 650px;

}

h1{
    color: darkorchid;
    padding: 10px 10px 10px 535px;

}